  <header>
    <nav>
      <ul>
        <li>
          <a href="#">Logo</a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Project</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <div id="searchItems">
      <h1>What Can Search I For You?</h1>
      <input id="searchText" type="text" placeholder="">
      <button id="searchButton" type="button" class="btn btn-primary">Search</button>
    </div>
    <div id="giphyCards">
      <!-- this is where we'll need to display some giphy :D -->
      <h1>Your Search Result!</h1>

      <app-card></app-card>

    </div>
  </main>

  <footer>

  </footer>
